node_modules
.yarn/cache
.yarn/install-state.gz
**/.nuxt
**/.output
**/dist
**/*.tsbuildinfo
.env
.env.*
!.env.example
docs
*.md
coverage
.turbo
**/__tests__
**/*.test.ts
**/*.spec.ts
.git
.gitignore
